[Desktop Entry]
Type=Application
Exec=lxqt-leave --suspend
Icon=system-suspend
Categories=System;X-Leave;
OnlyShowIn=LXQt;
NoDisplay=true

Name=Suspend
GenericName=Suspend the machine
Comment=Suspend the machine
GenericName[ar]=علّق الجهاز
Name[ar]=علّق
Comment[ar]=علّق الجهاز
Name[ca]=Suspèn
GenericName[ca]=Suspèn la màquina
Comment[ca]=Suspèn la màquina
Name[cs]=Uspat
GenericName[cs]=Uspat počítač do paměti
Comment[cs]=Uspat počítač do paměti
Name[da]=Hvile
GenericName[da]=Sæt maskinen i hvile
Comment[da]=Sæt maskinen i hvile
GenericName[de]=Rechner in Bereitschaftsmodus versetzen
Name[de]=Bereitschaft
Comment[de]=Rechner in Bereitschaftsmodus versetzen
Name[el]=Αναστολή
GenericName[el]=Αναστολή του μηχανήματος
Comment[el]=Αναστολή του μηχανήματος
Name[es]=Suspender
GenericName[es]=Suspender el sistema
Comment[es]=Suspender el sistema
Name[eu]=Eseki
GenericName[eu]=Eseki ordenagailua
Comment[eu]=Eseki ordenagailua
Name[fr]=Mettre en veille
GenericName[fr]=Mettre l'ordinateur en veille
Comment[fr]=Mettre l'ordinateur en veille
Name[he]=השהיה
GenericName[he]=השהיית המכונה
Comment[he]=השהיית המכונה
GenericName[hr]=Postavi uređaj u pripravno stanje
Name[hr]=Pripravno stanje
Comment[hr]=Postavi uređaj u pripravno stanje
GenericName[hu]=A számítógép készenléti állapotba helyezése
Name[hu]=Készenlét
Comment[hu]=A számítógép készenléti állapotba helyezése
Name[it]=Sospensione
GenericName[it]=Sospendere il computer
Comment[it]=Sospendere il computer
Name[ja]=サスペンド
GenericName[ja]=PC をサスペンドします
Comment[ja]=PC をサスペンドします
Name[ko]=대기
GenericName[ko]=기기를 대기 모드로 전환
Comment[ko]=기기를 대기 모드로 전환
Name[lt]=Pristabdyti
GenericName[lt]=Pristabdyti kompiuterį
Comment[lt]=Pristabdyti kompiuterį
Name[oc]=Metre en velha
GenericName[oc]=Metre en velha la maquina
Comment[oc]=Metre en velha la maquina
Name[pl]=Uśpij
GenericName[pl]=Uśpij komputer
Comment[pl]=Uśpij komputer
Name[pt]=Suspender
GenericName[pt]=Suspender o computador
Comment[pt]=Suspender o computador
Name[ru]=Ждущий режим
GenericName[ru]=Перевести компьютер в ждущий режим
Comment[ru]=Перевести компьютер в ждущий режим
Name[tr]=Beklemeye Al
GenericName[tr]=bilgisayarı beklemeye al
Comment[tr]=bilgisayarı beklemeye al
Name[zh_CN]=挂起
GenericName[zh_CN]=挂起计算机
Comment[zh_CN]=挂起计算机
Name[zh_TW]=暫停
GenericName[zh_TW]=暫停電腦
Comment[zh_TW]=暫停電腦
