[Desktop Entry]
Type=Application
Exec=lxqt-leave --lockscreen
Icon=system-lock-screen
Categories=System;Screensaver;
OnlyShowIn=LXQt;
NoDisplay=true

Name=Lock Screen
GenericName=Lock the current session
Comment=Lock the current session
GenericName[ar]=اقفل الجلسة الحاليّة
Name[ar]=اقفل الشّاشة
Comment[ar]=اقفل الجلسة الحاليّة
Name[ca]=Bloqueja la pantalla
GenericName[ca]=Bloqueja la sessió actual
Comment[ca]=Bloqueja la sessió actual
Name[cs]=Zamknout obrazovku
GenericName[cs]=Uzamknout stávající relaci
Comment[cs]=Uzamknout stávající relaci
Name[da]=Lås skærmen
GenericName[da]=Lås den aktuelle session
Comment[da]=Lås den aktuelle session
GenericName[de]=aktuelle Sitzung sperren
Name[de]=Bildschirm sperren
Comment[de]=aktuelle Sitzung sperren
Name[el]=Κλείδωμα οθόνης
GenericName[el]=Κλείδωμα της τρέχουσας συνεδρίας
Comment[el]=Κλείδωμα της τρέχουσας συνεδρίας
Name[es]=Bloquear la pantalla
GenericName[es]=Bloquear la sesión actual
Comment[es]=Bloquear la sesión actual
Name[eu]=Blokeatu pantaila
GenericName[eu]=Blokeatu uneko saioa
Comment[eu]=Blokeatu uneko saioa
GenericName[fr]=Verrouillage de la session courante
Name[fr]=Verrouiller l’écran
Comment[fr]=Verrouillage de la session courante
Name[he]=נעילת המסך
GenericName[he]=נעילת ההפעלה הנוכחית
Comment[he]=נעילת ההפעלה הנוכחית
GenericName[hr]=Zaključaj trenutačnu sesiju
Name[hr]=Zaključaj ekran
Comment[hr]=Zaključaj trenutačnu sesiju
GenericName[hu]=A jelenlegi munkamenet zárolása
Name[hu]=Zárolás
Comment[hu]=A jelenlegi munkamenet zárolása
Name[it]=Blocca schermo
GenericName[it]=Bloccare la sessione attuale
Comment[it]=Blocca la sessione attuale
Name[ja]=画面ロック
GenericName[ja]=画面をロックします
Comment[ja]=画面をロックします
Name[ko]=잠금
GenericName[ko]=현재 세션을 잠금
Comment[ko]=현재 세션을 잠금
Name[lt]=Užrakinti ekraną
GenericName[lt]=Užrakinti esamą seansą
Comment[lt]=Užrakinti esamą seansą
Name[oc]=Verrolhar l’ecran
GenericName[oc]=Verrolhar la session actuala
Comment[oc]=Verrolhar la session actuala
Name[pl]=Zablokuj ekran
GenericName[pl]=Zablokuj bieżącą sesję
Comment[pl]=Zablokuj bieżącą sesję
Name[pt]=Bloquear
GenericName[pt]=Bloquear a sessão atual
Comment[pt]=Bloquear a sessão atual
Name[ru]=Заблокировать экран
GenericName[ru]=Заблокировать текущий сеанс
Comment[ru]=Заблокировать текущий сеанс
GenericName[tr]=Geçerli oturumu kilitle
Name[tr]=Ekranı kilitle
Comment[tr]=Geçerli oturumu kilitle
Name[zh_CN]=锁屏
GenericName[zh_CN]=锁定屏幕
Comment[zh_CN]=锁定屏幕
