[Desktop Entry]
Type=Application
Exec=lxqt-leave --hibernate
Icon=system-suspend-hibernate
Categories=System;X-Leave;
OnlyShowIn=LXQt;
NoDisplay=true

Name=Hibernate
GenericName=Hibernate the machine
Comment=Hibernate the machine
GenericName[ar]=أسبت الجهاز
Name[ar]=أسبت
Comment[ar]=أسبت الجهاز
Name[ca]=Hiberna
GenericName[ca]=Posa en hibernació la màquina
Comment[ca]=Posa en hibernació la màquina
GenericName[cs]=Uspat počítač na disk
Name[cs]=Uspat na disk
Comment[cs]=Uspat počítač na disk
Name[da]=Dvale
GenericName[da]=Sæt maskinen i dvale
Comment[da]=Sæt maskinen i dvale
GenericName[de]=Rechner in Tiefschlaf versetzen
Name[de]=Tiefschlaf
Comment[de]=Rechner in Tiefschlaf versetzen
Name[el]=Νάρκη
GenericName[el]=Nάρκωση του υπολογιστή
Comment[el]=Nάρκωση του υπολογιστή
Name[es]=Hibernar
GenericName[es]=Hibernar
Comment[es]=Hibernar el sistema
Name[eu]=Hibernatu
GenericName[eu]=Hibernatu ordenagailua
Comment[eu]=Hibernatu ordenagailua
Name[fr]=Hivernation
GenericName[fr]=Hivernation de l'ordinateur
Comment[fr]=Hivernation de l'ordinateur
Name[he]=תרדמת
GenericName[he]=הרדמת המכונה
Comment[he]=הרדמת המכונה
GenericName[hr]=Postavi uređaj u stanje mirovanja
Name[hr]=Stanje mirovanja
Comment[hr]=Postavi uređaj u stanje mirovanja
GenericName[hu]=A számítógép hibernálása
Name[hu]=Hibernálás
Comment[hu]=A számítógép hibernálása
Name[it]=Iberna
GenericName[it]=Ibernare il computer
Comment[it]=Ibernare il computer
Name[ja]=ハイバネート
GenericName[ja]=PC を休止状態にします
Comment[ja]=PC を休止状態にします
Name[ko]=최대 절전 모드
GenericName[ko]=최대 절전 모드
Comment[ko]=최대 절전 모드
Name[lt]=Užmigdyti
GenericName[lt]=Užmigdyti kompiuterį
Comment[lt]=Užmigdyti kompiuterį
Name[oc]=Ivernar
GenericName[oc]=Far ivernar la maquina
Comment[oc]=Far ivernar la maquina
Name[pl]=Hibernuj
GenericName[pl]=Hibernuj komputer
Comment[pl]=Hibernuj komputer
Name[pt]=Hibernar
GenericName[pt]=Hibernar o computador
Comment[pt]=Hibernar o computador
Name[ru]=Спящий режим
GenericName[ru]=Перевести компьютер в спящий режим
Comment[ru]=Перевести компьютер в спящий режим
Name[tr]=Uykuya Al
GenericName[tr]=bilgisayarı uykuya alın
Comment[tr]=bilgisayarı uykuya alın
Name[zh_CN]=休眠
GenericName[zh_CN]=休眠计算机
Comment[zh_CN]=休眠计算机
Name[zh_TW]=休眠
GenericName[zh_TW]=電腦休眠
Comment[zh_TW]=電腦休眠
