[Desktop Entry]
Type=Application
Exec=lxqt-leave
Icon=system-shutdown
Categories=System;X-Leave;
OnlyShowIn=LXQt;
NoDisplay=true

Name=Leave
GenericName=Leave dialog
Comment=Leave dialog
Name[ar]=اترك
GenericName[ar]=حواريّ التّرك
Comment[ar]=حواريّ التّرك
Name[ca]=Sortida
GenericName[ca]=Diàleg de sortida
Comment[ca]=Diàleg de sortida
Name[cs]=Odejít
GenericName[cs]=Dialog pro odejití
Comment[cs]=Dialog pro odejití
Name[da]=Afslut
GenericName[da]=Afslut-dialog
Comment[da]=Afslut-dialog
Name[de]=Verlassen
GenericName[de]=Beenden-Dialog
Comment[de]=Beenden-Dialog
Name[el]=Εγκατάλειψη
GenericName[el]=Διάλογος εγκατάλειψης
Comment[el]=Διάλογος εγκατάλειψης
Name[es]=Salir
GenericName[es]=Diálogo para salir del sistema
Comment[es]=Diálogo para salir del sistema
Name[eu]=Utzi
GenericName[eu]=Utzi elkarrizketa-koadroa
Comment[eu]=Utzi elkarrizketa-koadroa
Name[fr]=Quitter
GenericName[fr]=Dialogue pour quitter
Comment[fr]=Dialogue pour quitter
Name[he]=לעזוב
GenericName[he]=תיבת דו־שיח עזיבה
Comment[he]=תיבת דו־שיח עזיבה
Name[hr]=Napusti
GenericName[hr]=Dijalog za napuštanje
Comment[hr]=Dijalog za napuštanje
Name[hu]=Kiléptetés
GenericName[hu]=Kiléptető párbeszédablak
Comment[hu]=Kiléptető párbeszédablak
Name[it]=Esci
GenericName[it]=Opzioni di uscita
Comment[it]=Opzioni di uscita
Name[ja]=離席しますか？
GenericName[ja]=終了ダイアログを表示します
Comment[ja]=終了ダイアログを表示します
Name[ko]=떠나기
GenericName[ko]=떠나기 대화상자 표시
Comment[ko]=떠나기 대화상자 표시
Name[lt]=Išeiti
GenericName[lt]=Išėjimo dialogas
Comment[lt]=Išėjimo dialogas
Name[oc]=Partir
GenericName[oc]=Dialòg per sortir
Comment[oc]=Dialòg per sortir
Name[pl]=Wyjdź
GenericName[pl]=Ekran wyjścia
Comment[pl]=Ekran wyjścia
Name[pt]=Abandonar
GenericName[pt]=Abandonar a sessão atual
Comment[pt]=Abandonar a sessão atual
Name[ru]=Выйти
GenericName[ru]=Меню выхода
Comment[ru]=Меню выхода
Name[tr]=Çık
GenericName[tr]=Çıkış için iletişim penceresi
Comment[tr]=Çıkış için iletişim penceresi
Name[zh_CN]=离开
GenericName[zh_CN]=显示“离开”对话框
Comment[zh_CN]=显示“离开”对话框
Name[zh_TW]=退出
GenericName[zh_TW]=退出系統對話框
Comment[zh_TW]=退出系統對話框
